@layer base {
  :root {
    --color-primary: #002e5d; /* Deep Blue */
    --color-secondary: #f2f2f2; /* Soft Gray */
    --color-background: #ffffff; /* White */
    --color-sidebar-background: #dcdcdc; /* Light Gray */
    --color-text-primary: #333333; /* Charcoal Gray */
    --color-text-secondary: #6b7280;
    --color-accent: #1abc9c; /* Vibrant Teal */
    --color-border: #dcdcdc; /* Light Gray for borders */
    --color-error: #e74c3c; /* Error Red */
    --color-success: #2ecc71; /* Success Green */
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

body {
  background-color: gray;
  transition:
    color 0.3s,
    background-color 0.3s;
  min-height: 100vh;
  line-height: 1.5;
  color: var(--color-text-primary);
  font-family: 'Poppins', sans-serif;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); /* Blurs the background */
  z-index: 1000;
}

/* Modal content styling */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff; /* Light background */
  border-radius: 12px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  outline: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background color of the track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}
